<div class="page-titile">
    <h2>E + Y o u t h</h2>
    <div class="spacer"></div>
    <button (click)="onAuthClick()" mat-flat-button color="primary" type="button">Login</button>
  </div>
  <div class="bubble-parent">
  
    <div class="Profile loc-2" (click)="AddProfile()" style="width: 250px; height: 250px;">
      <img src="../assets/article.svg">
      <h1>Project proposal writing</h1>
    </div>
    
    <div class="Profile loc-1" (click)="DashBoardTestClick()" style="width: 200px; height: 200px;">
      <img src="../assets/government.svg">
      <h1>Govt. Job</h1>
    </div>
    
    <div class="Profile loc-3" (click)="onClick()" style="width: 170px; height: 170px;">
      <img src="../assets/interview.svg">
      <h1>Interview skill</h1>
    </div>
    
    <div class="Profile loc-4" (click)="onClick()" style="width: 290px; height: 290px;">
      <img src="../assets/operator.svg">
      <h1>Job Consultany</h1>
    </div>
    
    <div class="Profile loc-5" (click)="onClick()" style="width: 265px; height: 265px;">
      <img src="../assets/teacher.svg">
      <h1>Mentoring for Job</h1>
    </div>
    
    <div class="Profile loc-6" (click)="onClick()" style="width: 300px; height: 300px;">
      <img src="../assets/undraw_interview_rmcf.svg">
    </div>
    
    <div class="Profile loc-7" (click)="onClick()" style="width: 140px; height: 140px;">
      <!-- <img src="../assets/6.jpg"> -->
    </div>
    
    <div class="Profile loc-8" (click)="onClick()" style="width: 255px; height: 255px;">
      <img src="../assets/undraw_online_discussion_5wgl.svg">
    </div>
    
    <div class="Profile loc-9" (click)="onClick()" style="width: 155px; height: 155px;">
      <img src="../assets/undraw_teaching_f1cm.svg">
    </div>
    
    <div class="Profile loc-10" (click)="onClick()" style="width: 240px; height: 240px;">
      <!-- <img src="../assets/10.jpg"> -->
    </div>
    
    <div class="Profile loc-11" (click)="onClick()" style="width: 240px; height: 240px;">
      <!-- <img src="../assets/7.jpg"> -->
    </div>
  </div>
  
